<section data-ng-controller="HomeController" data-ng-init="find()">
	<div class="page-header">
        <h1>Phones</h1>
    </div>
    <div class="list-group">
    	
    	<div class="controls">
    		<label class="control-label" for="modelnumber">Search</label>
    	 	<input ng-model="searchText" class="form-control" placeholder="Enter phone ModelNumber or Name">
    	</div>
        <a data-ng-repeat="phone in phones | filter:searchText" data-ng-href="#!/phones/{{phone._id}}" class="list-group-item">
			Name:
			<h4 class="list-group-item-heading" data-ng-bind="phone.Name"></h4>
			ModelNumber:
			<h4 class="list-group-item-heading" data-ng-bind="phone.ModelNumber"></h4>
        </a>
    </div>
</section>
