<section data-ng-controller="PhonesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Phones</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="phone in phones" data-ng-href="#!/phones/{{phone._id}}" class="list-group-item">
			Name:
			<h4 class="list-group-item-heading" data-ng-bind="phone.Name"></h4>
			ModelNumber:
			<h4 class="list-group-item-heading" data-ng-bind="phone.ModelNumber"></h4>
			GSM Bands:
			<h4 data-ng-repeat="gsmband in phone.GSMBands" class="list-group-item-heading" data-ng-bind="gsmband"></h4>
			LTE FDD Bands:
			<h4 data-ng-repeat="ltebands in phone.LTEFDDBands" class="list-group-item-heading" data-ng-bind="ltebands"></h4>
			UMTS Bands:
			<h4 data-ng-repeat="umtsbands in phone.UMTSBands" class="list-group-item-heading" data-ng-bind="umtsbands"></h4>
			TD-SCDMA Bands:
			<h4 data-ng-repeat="tdscdma in phone.TDSCDMABands" class="list-group-item-heading" data-ng-bind="tdscdma"></h4>
			Added by:
			<h4 class="list-group-item-heading" data-ng-bind="phone.user.displayName"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!phones.$resolved || phones.length">
    	No phones yet, why don't you <a href="/#!/phones/create">create one</a>?
    </div>
</section>