<section data-ng-controller="PhonesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="phone.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == phone.user._id">
		<a class="btn btn-primary" href="/#!/phones/{{phone._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Phone info: 
			<br/>
			name: <span data-ng-bind="phone.Name"></span>
			<br/>
			model number: <span data-ng-bind="phone.ModelNumber + mHz"></span>
			<br/>
			gsm bands: <span data-ng-bind="phone.GSMBands"></span>
			<br/>
			umts bands: <span data-ng-bind="phone.UMTSBands"></span>
			<br/>
			ltefdd bands: <span data-ng-bind="phone.LTEFDDBands"></span>
			<br/>
			td-scdma bands: <span data-ng-bind="phone.TDSCDMABands"></span>
			<br/>
			added by: <span data-ng-bind="phone.user.displayName"></span>
		</em>
	</small>
</section>