<section data-ng-controller="PhonesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="phone.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == phone.user._id">
		<a class="btn btn-primary" href="/#!/phones/{{phone._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Phone info: 
			<br/>
			name: <span data-ng-bind="phone.Name"></span>
			<br/>
			model number: 
			<span data-ng-bind="phone.ModelNumber"></span>
			<br/>
			gsm bands:
			<span data-ng-repeat="gsmband in phone.GSMBands"> {{gsmband}}Ghz </span>
			<br/>
			umts bands:
			<span data-ng-repeat="umtsband in phone.UMTSBands"> {{umtsband}}Ghz </span>
			<br/>
			ltefdd bands:
			<span data-ng-repeat="ltefddband in phone.LTEFDDBands"> {{ltefddband}}Ghz </span>
			<br/>
			td-scdma bands:
			<span data-ng-repeat="tdscdmaband in phone.TDSCDMABands"> {{tdscdmaband}}Ghz </span>
			<br/>
			 works in 'murica?: <span data-ng-bind="phone.Band"></span> 
		</em>
	</small>

</section>