<section data-ng-controller="BandsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Band</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="Frequency">Frequency</label>
                    <div class="controls">
                        <input type="text" data-ng-model="band.Frequency" id="Frequency" class="form-control" placeholder="Frequency" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="Band">Band</label>
                    <div class="controls">
                        <input type="text" data-ng-model="band.Band" id="Band" class="form-control" placeholder="Band" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="Protocol">Protocol</label>
                    <div class="controls">
                        <input type="text" data-ng-model="band.Protocol" id="Protocol" class="form-control" placeholder="Protocol" required>
                    </div>
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>