<section data-ng-controller="CarriersController">
	<div class="page-header">
		<h1>New Carrier</h1>
	</div>
	<div class="col-md-12">
		<form name="carrierForm" class="form-horizontal" data-ng-submit="create()" novalidate>
			<fieldset>
				<div class="form-group" ng-class="{ 'has-error': carrierForm.name.dirty && carrierForm.name.$invalid }">		
					<label class="control-label" for="carriername">CarrierName</label>
					<div class="controls">
					<input name="carriername" type="text" data-ng-model="carriername" id="carriername" class="form-control" placeholder="CarrierName" required>
					</div>
					
					<label class="control-label" for="country">Country</label>
					<div class="controls">
					<input name="country" type="text" data-ng-model="country" id="country" class="form-control" placeholder="Country" required>
					</div>
					
					<label class="control-label" for="bands">Bands</label>
					<div class="controls">
					<input name="bands" type="text" data-ng-model="bands" id="bands" class="form-control" placeholder="Bands" required>
					</div>

				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>