<section data-ng-controller="CarriersController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Carrier</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="CarrierName">CarrierName</label>
                    <div class="controls">
                        <input type="text" data-ng-model="carrier.CarrierName" id="CarrierName" class="form-control" placeholder="CarrierName" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="Country">Country</label>
                    <div class="controls">
                        <input type="text" data-ng-model="carrier.Country" id="Country" class="form-control" placeholder="Country" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="Bands">Bands</label>
                    <div class="controls">
                        <input type="text" data-ng-model="carrier.Bands" id="Bands" class="form-control" placeholder="Bands" required>
                    </div>
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>