<section data-ng-controller="CarriersController" data-ng-init="findOne()">
	<div class="page-header">
<!-- 		<h1 data-ng-bind=".name"></h1> -->
	</div>
	<div class="pull-right" >
		<a class="btn btn-primary" href="/#!/carriers/{{carrier._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			<br/>
			CarrierName:
			<span> {{carrier.CarrierName}} </span>
			<br/>
			Country: 
			<span data-ng-bind="carrier.Country"></span>
			<br/>
			GSM:
			<span data-ng-bind="carrier.GSM"></span>
			<br/>
			UMTS:
			<span data-ng-bind="carrier.UMTS"></span>
			<br/>
			LTE:
			<span data-ng-bind="carrier.LTE"></span>
			<br/>
			CDMA:
			<span data-ng-bind="carrier.CDMA"></span>
			<br/>
		</em>
	</small>